<form (ngSubmit)="addAlbum(albumForm.value)" #albumForm="ngForm">
  <div *ngIf="!modeAdd" (click)="toModeAdd()">Add album</div>
  <div *ngIf="modeAdd" (click)="cancelModeAdd()">Cancel</div>
  <div>
    <label>Album</label>
    <select name="idAlbum" (change)="changeSelectedAlbum($event)" [(ngModel)]="selectAlbum">
      <option *ngIf="modeAdd" value="0">------</option>
      <option *ngFor="let album of listAlbums" value="{{album.id}}">{{album.title}}</option>
    </select>
  </div>
  <div *ngIf="modeAdd">
    <label>Title</label>
    <input name="title" ngModel required />
  </div>
  <div *ngIf="modeAdd">
    <label>Description</label>
    <textarea name="description" ngModel></textarea>
  </div>
  <button *ngIf="modeAdd" type="submit">Add album</button>
</form>
