<form (ngSubmit)="addAlbum(albumForm.value)" #albumForm="ngForm">
  <div *ngIf="!modeAdd" (click)="toModeAdd()">Add album</div>
  <div *ngIf="modeAdd" (click)="cancelModeAdd()">Cancel</div>
  <div class="webflow-style-input" >
    <label>Album</label>
    <select name="idAlbum" (change)="changeSelectedAlbum($event)" [(ngModel)]="selectAlbum">
      <option *ngIf="modeAdd" value="0">------</option>
      <option *ngFor="let album of listAlbums" value="{{album.id}}">{{album.title}}</option>
    </select>
  </div>
  <div *ngIf="modeAdd" class="webflow-style-input">
    <input name="title" ngModel required placeholder="Nom de l'album" />
  </div>
  <div *ngIf="modeAdd" class="webflow-style-input">
    <textarea name="description" ngModel placeholder="Descriptif de l'album"></textarea>
  </div>
  <button *ngIf="modeAdd" type="submit">Add album</button>
</form>
